<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <div class="sc-container">
      <a class="navbar-brand" href="#">
        <span class="glyphicon glyphicon glyphicon-tree-deciduous"></span>
        EJS Is Fun
      </a>

      <ul class="nav navbar-nav">
        <li><a href="/">Home</a></li>
        <li><a href="/rooms">Rooms</a></li>
      </ul>
      <ul class="nav navbar-nav">
        <li><a class="scprofile" href="/#"></a></li>
      </ul>
    </div>
  </div>
</nav>
