<!-- views/pages/index.ejs -->

<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include ('../partials/head') %>
  </head>
  <body class="container">
    <header><%- include ('../partials/header') %></header>

    <div class="jumbotron">
      <h3>Oh yeah!</h3>
    </div>

    <footer><%- include('../partials/footer') %></footer>
  </body>
</html>
