<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('../partials/head') %>
  </head>
  <!-- The core Firebase JS SDK is always required and must be listed first -->
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-app.js"></script>
  <script src="https://www.gstatic.com/firebasejs/7.19.1/firebase-database.js"></script>

  <body>
    <header><%- include('../partials/header') %></header>
    <main class="jumbotron">
      <div class="card-container" style="border: 1pxs solid #bababa">
        <button id="croom" class="btn btn-success">Create Room</button>
        <a id="croom" href="/chat/bot" class="btn btn-danger">Chat with bot</a>
      </div>
      <div class="card-container">
        <ul id="ulcontainer" class="ul-container"></ul>
      </div>
    </main>
    <footer><%- include('../partials/footer') %></footer>
    <script src="/js/rooms.js"></script>
  </body>
</html>
